.card {
  max-width: 300px;
  height: 600px;
  border: 1px solid white;
}

.card-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.card-titre {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: orange;
    font-family: "StormGust";
}

.card-description {
    font-size: 0.9rem;
    padding-top: 0.3rem;
    color: rgb(204, 204, 204);
}
