.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  place-items: center;
  gap: 2rem;
  justify-content: center;
  padding: 100px 400px;
  box-sizing: border-box;
}
