.card-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 350px 350px 350px;
  place-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
